body {
	color: white;
    flex-direction: column;
	font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

#motto-container {
	align-content: center;
	justify-content: center;
	height: 100vh;
	background-image: linear-gradient(to bottom right, deepskyblue, dodgerblue);
}
