body {
	flex-direction: column;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
}

.content-center {
	display: flex;
	align-content: center;
	justify-content: center;
}

.navbar {
	transition: background-color 200ms ease;
}

.navbar-scrolled {
	background-color: dodgerblue;
}

.experience-header {
	font-size: 2.5rem;
	border-style: solid;
	border-color: #00B257;
	color: #00B257;
}

.offer-container {
	border-right: solid  1px #FF5D5C;
}

.offer-header {
	font-size: 2rem;
	color: #FF5D5C;
}

#motto-container {
	align-content: center;
	justify-content: center;
	height: 100vh;
	background-image: linear-gradient(to bottom right, deepskyblue, dodgerblue);
}
